.blue__upper{
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    color: white;
    padding-top: 100px;
    min-height: 490px;
}
.upper__title{
    max-width: 540px;
    font-size: 36px;
}
.blue__bottom{
    margin-top: -350px;
}
.bottom__box{
    max-width: 350px;
    margin-top: 50px;
}
.bottom__title{
    font-size: 18px;
    margin: 30px 0 30px 0;
}
.blue-number{
    color: #4985FF;
}
.bottom__description{
    font-size: 16px;
    color: #999999;
    margin: 0 0 30px 0;
}