.blue-line{
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    max-height: 400px;
    padding-top: 100px;
}
.blue__title{
    color: white;
    max-width: 540px;
    font-size: 36px;
}
.blue__box{
    max-width: 350px;
    margin-top: 70px;
    box-sizing: border-box;
}
.blue__discription{
    font-size: 18px;
    margin-top: 30px;
}
.blue__suptitle{
    margin-top: 30px;
}
.blue__ul{
    color: #4985FF;
}
.blue__sector{
    padding-bottom: 85px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 85px;
}