.header{
    position: absolute;
    width: 100%;
}
.header .container{
    justify-content: flex-end;
}
.header__list{
    padding: 40px 0 40px 0;
}
.header__nav{
    padding: 0 20px 0 20px;
}
.header__link{
    color: white;
}
.hero{
    background: url(./img/head_bg.webp) center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    height: 100vh;
}
.hero__content{
    max-width: 829px;
    color: white;
}
.hero__suptitle{
    font-size: 16px;
    margin-bottom: 25px;
}
.hero__title{
    font-size: 48px;
    margin-bottom: 25px;
}