.hero{
    font-family: 'Montserrat', sans-serif;
    background: url(./img/head_bg.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 400px;
    box-sizing: border-box;
    margin-top: -182px;
}
.hero__content{
    margin: auto;
    max-width: 829px;
}
.hero__suptitle{
    font-weight: 500;
    font-size: 16px;
}
.hero__title{
    font-size: 48px;
    font-weight: 800;
    margin: 20px 0 50px 0;
}
.hero__btn{
    color: white;
    background: #4985FF;
    border-radius: 30px;
    padding: 13px 36px;
}
.hero .container{
    height: 900px;
    align-items: center;
}