.hero{
    font-family: 'Montserrat', sans-serif;
    background: url(./img/head_bg.png) center no-repeat;
    text-align: center;
    color: white;
    min-height: 900px;
}
.hero__content{
    margin: auto;
    max-width: 829px;
}
.hero__suptitle{
    font-weight: 500;
    font-size: 16px;
}
.hero__title{
    font-size: 48px;
    font-weight: 800;
}
.hero__btn{
    color: white;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 36px;
}