.our-projects{
    background: #f6f6f8;
    padding: 100px 0 130px 0;
    text-align: center;
    font-family: "Montserrat";
}
.projects__title{
    font-size: 36px;
    margin-bottom: 50px;
}
.projects__suptitle{
    max-width: 730px;
    margin: auto;
}
.projects__sector{
    margin: 70px 0 50px 0;
}
.projects__img{
    margin-top: 20px;
}