.our-projects{
    background: #f6f6f8;
    padding: 100px 0 130px 0;
    text-align: center;
}
.projects__title{
    font-size: 36px;
    margin-bottom: 25px;
}
.projects__suptitle{
    margin: 25px 0 35px 0;
    max-width: 730px;
    margin: auto;
}