.subscribe{
    margin-top: 85px;
    text-align: center;
}
.subscribe__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.subscribe__suptitle{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}
.subscribe__mail{
    margin-top: 15px;
    margin-bottom: 20px;
}
.subscribe__alert{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}