.video{
    margin-top: 130px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.video__title{
    font-size: 36px;
    font-weight: 700;
}
.video__suptitle{
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}
.video__upper{
    padding-top: 70px;
    background: url(./img/head_bg.png) center no-repeat;
    min-height: 570px;
}
.video__player{
    background: url(./img/video.png) center no-repeat;
    max-width: 970px;
    margin: auto;
    margin-top: -400px;
    min-height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video__button{
    max-width: 300px;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 30px 20px 0;
    transition: 0.3s;
}
.button__img{
    padding: 0 21px 0 40px;
}